body{
	margin: 0;
	padding: 0;
    font-family: sans-serif;
}
/* .responsive-bar{
    display: none;
} */
/* 
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
}

nav.black{
    
    background: #000aba;
    height: 80px;
    padding: 10px 50px;
}
nav .logo{
    float: left;
} */
/* 

nav .logo img{
    height: 80px;
    transition: .5s;
    
    
}
nav.black .logo img{
    height: 60px;
}
nav > ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    float: right;
}
nav > ul > li{
    list-style: none;
    display: inline-block;
} */

/* nav > ul > li > a:hover{
    background: #f00;
    color: #fff;

} */


/* nav > ul > li > a{
    color: #262626;
    
    text-decoration: none;
    text-transform: uppercase; /*for capitalisation of letters */
    /* line-height: 80px; */
    /* padding: 5px 20px; */
    /* transition: .5s;    */
/* }  */


/* nav.black > ul > li > a{
    color: #fff;
    line-height: 60px;
} */





/* ////////// -------------- NAVBAR STARTS ------------ ////////////////   */

nav{
  background:  #000aba;
  /* background: #171c24; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0 100px;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #ff3d00;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: red;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: red;
  /* color: #fff; */
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  /* nav .logo{
    flex: 2;
    text-align: center;
  } */
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    /* background: #14181f; */
    background:  #000aba;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}

/* ////////// -------------- NAVBAR ENDS ------------ ////////////////   */
/* /////////////////////////////////////  */









section.sec1{
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    /* background: url(./Assets/students3.7a5de646f3c6bbe2b942.jpg); */
    background-size: cover;
}
section.content{
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}
section.sec2{
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}

/* /////////////////////////////////////  */
* {
    box-sizing: border-box;
  }
  
  body,
  html {
    overflow-x: hidden;
  }
  
  body {
    margin: 0;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 12pt;
    font-weight: 400;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Bebas Neue", cursive;
  }
  
  a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  
  a:hover {
    transition: all 0.5s ease-in-out;
  }
  
  .we-are-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 900px;
  }
  
  @media screen and (max-width: 860px) {
    .we-are-block {
      height: 2200px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .we-are-block {
      height: 2300px;
    }
  }
  
  #about-us-section {
    background: #000aba;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  @media screen and (max-width: 860px) {
    #about-us-section {
      flex-direction: column;
      justify-content: space-between;
    }
  }
  
  .about-us-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
  }
  
  @media screen and (max-width: 860px) {
    .about-us-image {
      position: relative;
      width: 100%;
      height: 45%;
      object-fit: contain;
    }
  }
  
  @media screen and (max-width: 747px) {
    .about-us-image {
      height: 35%;
      object-fit: contain;
    }
  }
  
  @media screen and (max-width: 644px) {
    .about-us-image img {
      position: absolute;
      left: -220px;
      object-fit: contain;
    }
  }
  
  .about-us-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 40%;
    height: 80%;
    margin-right: 850px;
    margin-left: 12px;
    z-index: 2;
    
  }
  
  @media screen and (max-width: 1353px) {
    .about-us-info {
      margin-right: 400px;
      width: 60%;
      background: #0c4c9199;
      padding: 0px 25px 0px 0px;
    }
  }
  
  @media screen and (max-width: 1238px) {
    .about-us-info {
      margin-right: 340px;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 1111px) {
    .about-us-info {
      margin-right: 270px;
    }
  }
  
  @media screen and (max-width: 910px) {
    .about-us-info {
      margin-right: 150px;
    }
  }
  
  @media screen and (max-width: 860px) {
    .about-us-info {
      margin: 0px 0px 0px 0px !important;
      padding: 0px 20px 0px 20px !important;
      width: 100%;
      height: 55%;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 747px) {
    .about-us-info {
      height: 65%;
    }
  }
  
  .about-us-info h2 {
    color: white;
    font-size: 40pt;
    text-align: right;
  }
  
  @media screen and (max-width: 860px) {
    .about-us-info h2 {
      text-align: center;
    }
  }
  
  .about-us-info p {
    color: white;
    font-size: 14pt;
    text-align: right;
  }
  
  @media screen and (max-width: 860px) {
    .about-us-info p {
      text-align: center;
    }
  }
  
  .about-us-info a {
    background-color: white;
    color:#000aba;
    width: 180px;
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-size: 14pt;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
  .about-us-info a:hover {
    background: #404140;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: translateY(10px);
  }
  
  #history-section {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  @media screen and (max-width: 860px) {
    #history-section {
      flex-direction: column;
      justify-content: space-between;

    }
  }
  
  .history-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 820px;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
  }
  
  @media screen and (max-width: 860px) {
    .history-image {
      position: relative;
      width: 100%;
      height: 40%;
      object-fit: contain;
    }
  }
  
  @media screen and (max-width: 747px) {
    .history-image {
      height: 35%;
      object-fit: contain;
    }
  }
  
  @media screen and (max-width: 644px) {
    .history-image img {
      position: absolute;
      right: -220px;
      object-fit: contain;
    }
  }
  
  .history-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 40%;
    height: 80%;
    margin-left: 850px;
    margin-right: 12px;
    z-index: 2;
  }
  
  @media screen and (max-width: 1353px) {
    .history-info {
      margin-left: 400px;
      width: 60%;
      background: #ffffff99;
      padding: 0px 0px 0px 25px;
    }
  }
  
  @media screen and (max-width: 1238px) {
    .history-info {
      margin-left: 340px;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 1111px) {
    .history-info {
      margin-left: 270px;
    }
  }
  
  @media screen and (max-width: 910px) {
    .history-info {
      margin-left: 150px;
    }
  }
  
  @media screen and (max-width: 860px) {
    .history-info {
      margin: 0px 0px 0px 0px !important;
      padding: 0px 40px 0px 40px !important;
      width: 100%;
      height: 60%;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 747px) {
    .history-info {
      height: 65%;
    }
  }
  
  .history-info h2 {
    color: #000aba;
    font-size: 40pt;
    text-align: left;
  }
  
  @media screen and (max-width: 860px) {
    .history-info h2 {
      text-align: center;
    }
  }
  
  .history-info p {
    color: #000aba;
    font-size: 14pt;
    text-align: left;
  }
  
  @media screen and (max-width: 860px) {
    .history-info p {
      text-align: center;
    }
  }
  
  .history-info a {
    background-color:#000aba;
    color: white;
    width: 180px;
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-size: 14pt;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
  .history-info a:hover {
    background: #404140;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: translateY(10px);
  }
  



  /* ////////////////////////////////////////////  */
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  body{
      font-family: 'Roboto', sans-serif;
 }
  h1{
      text-align: center;
      color: #000aba;
 }
  .wrapper{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
 }
  .card{
     max-width: 300px;
      min-height: 250px;
      background: #02b875;
      padding: 30px;
       border-radius: 3px;
      box-sizing: border-box;
      color: #FFF;
      margin:20px;
       box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
 }
  .card:nth-child(2){
     background: #000aba;
 }
  .card:last-child{
     background: #673ab7;
 }
  .card-title{
      margin-top: 0;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1.2px;
 }
  .card-content{
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 1.5;
 }
  .card-btn{
      all: unset;
      display: block;
      margin-left: auto;
      border: 2px solid #FFF;
      padding: 10px 15px;
      border-radius: 25px;
      font-size: 10px;
      font-weight: 600;
      transition: all 0.5s;
      cursor: pointer;
      letter-spacing: 1.2px;
 }
  .card-btn:hover{
     color:#02b875;
     background: #FFF;
 }
  .card:nth-child(2) .card-btn:hover{
     color:#4181ee;
     background: #FFF;
 }
  .card:last-child .card-btn:hover{
     color:#673ab7;
      background: #FFF;
 }
 



 /* /////////////////// FOOTER //////////////////////////  */
footer{
  background-color: #000aba;
}

 .footer-logo{
  text-align: center;
  color: #fff;
  padding-top: 5%;
 }
 
 .footer-text{
  text-align: center;
  color: #fff;
 }
 
 .hr{
  width: 60%;
 
 }

 .footer__social{
  text-align: center;

 }
 .footer__link{
  
 }

 .bi-facebook{
  
  color: #fff;
  
 }

 .footer__copy{
  text-align: center;
  color: #fff;
 }

 .bi-twitter{
  color: #fff;
 }

 .bi-instagram{
  color: #fff;
 }

 .footer__link{}